.separator {
  display: flex;
  width: 80%;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.page_event_blanc {
  border: 1.5px solid #ffffff;
  height: 0.5px;
}

.separator img {
  width: 20px;
  rotate: 90deg;
}
