.page-inscription {
  display: flex;
  flex-direction: column;
  background-color: #dededeac;
  align-items: center;
  padding: 32px;
}

.page-inscription h1 {
  font-family: "Racing Sans One", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 70px;
}
.page-inscription h2 {
  font-family: "Montserrat", serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 12px;
  text-align: center;
}

.page-inscription form {
  display: grid;
  width: 50vw;
  min-width: 270px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 20px;
  margin: 48px 0;
}

.page-inscription form label {
  margin-bottom: 10px;
}

.page-inscription form input {
  height: 30px;
  outline: none;
  border: none;
  border-radius: 4px;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  width: 60vw;
  max-width: 340px;
  min-width: 250px;
}

.page-inscription form button {
  width: 180px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #e6b504;
  border-radius: 8px;
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 24px;
}
.page-inscription form button:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .page-inscription form {
    display: flex;
    flex-direction: column;
  }
  .page-inscription h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 500px) {
  .page-inscription h1 {
    font-size: 45px;
  }
  .page-inscription h2 {
    font-size: 25px;
  }
}
